@media only screen and (max-device-width: 480px) {
    div#wrapper {
        width: 400px;
    }

    div#header {
        background-image: url(media-queries-phone.jpg);
        height: 93px;
        position: relative;
    }

    div#header h1 {
        font-size: 140%;
    }

    #content {
        float: none;
        width: 100%;
    }

    #navigation {
        float:none;
        width: auto;
    }

    /*
    Featured
    *****************/
    #featured {
        background: #fff;
        margin-bottom: 2em;
        overflow: hidden;
        padding: 20px;
        /* trog width: 760px;*/ 
        width: 480px;
        
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    #featured figure {
        border: 2px solid #eee;
        float: right;
        margin: 0.786em 2em 0 5em;
        width: 248px;
    }
    #featured figure img {display: block; float: right;}

    #featured h2 {color: #000000; font-size: 1.714em; margin-bottom: 0.333em;}
    #featured h3 {font-size: 1.429em; margin-bottom: .5em;}

    #featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
    #featured h3 a:hover, #featured h3 a:active {color: #fff;}
}